@use "./mixins.scss" as m;
@use "./variables.scss" as v;
@use "/styles/breakpoints.scss" as b;
$border: 1.2rem;

.container {
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  background: #edf4f6;
}

.inner-container {
  max-width: 21rem;
  height: 100%;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 8rem;
    background: v.$primary-color;
    border-bottom-right-radius: $border;
    border-bottom-left-radius: $border;
    content: "";
  }
}

.category {
  height: 100%;
  margin: 2.5rem 1.5rem;
}

.hero {
  @include m.rounded-xl;
  position: relative;
  z-index: 10;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  max-width: 28rem;
  min-height: 9rem;
  margin: 0 auto;
  padding: 1.5rem;
  background: black;
}

.title {
  @include m.text-xl;
  color: white;
}

.categories-title {
  @include m.text-xl;
  $mg: 1.5rem;
  margin: $mg 0;
  color: black;
  text-align: center;

  @media screen and (min-width: b.$sm) {
    margin: calc($mg * 1.25) 0;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
