@use "./variables.scss" as v;
@use "../../../styles/breakpoints.scss" as b;

@mixin container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 1.5rem;
  color: v.$text-color;
  background: v.$primary-color;

  & > * {
    max-width: 30rem;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@mixin text-xl {
  font-weight: 500;
  font-size: 1.2rem;
}

@mixin text-2xl {
  @include text-xl;
  font-size: 1.4rem;
}

@mixin rounded-xl {
  border-radius: 0.8rem;
}

@mixin rounded-lg {
  border-radius: 0.5rem;
}

@mixin button {
  @include rounded-lg;
  padding: 0.7rem 1.2rem;
  color: v.$text-color;
  background: #05d3f6;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}

@mixin animated-on-hover {
  position: relative;
  $animation-settings: 2s forwards;

  &:hover:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      transparent 46%,
      rgba(255, 255, 255, 1) 50%,
      transparent 54%
    );
    background-position: 0% 100%;
    background-size: 200% 200%;
    border-radius: inherit;
    animation: stripe $animation-settings;
    content: "";

    @keyframes stripe {
      from {
        background-position: 0% 100%;
      }
      to {
        background-position: 100% 0%;
      }
    }
  }

  &:hover {
    animation: present $animation-settings;

    @keyframes present {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
