@use "./variables.scss" as v;

@mixin container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  color: v.$text-color;
  background: v.$primary-color;
}

@mixin text-xl {
  font-weight: 500;
  font-size: 1.2rem;
}

@mixin text-2xl {
  @include text-xl;
  font-size: 1.4rem;
}

@mixin rounded-xl {
  border-radius: 0.8rem;
}

@mixin rounded-lg {
  border-radius: 0.5rem;
}

@mixin button {
  @include rounded-lg;
  padding: 0.7rem 1.2rem;
  color: v.$text-color;
  background: #05d3f6;

  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}
