@use "../../../styles/breakpoints.scss" as b;

.heading {
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 80%;
  margin: 0 auto;

  @media only screen and (min-width: b.$sm) {
    flex-direction: row;
  }
}

.highlight {
  margin: 1.7rem 0;
  font-size: 1.1rem;
  font-style: italic;
}

.pokemon {
  transition: opacity 0.15s;
}

.link {
  display: block;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
