.container {
  min-height: 100vh;
  background: var(--pokemon-app-primary-color);
  color: var(--pokemon-app-secondary-color);
  text-align: center;
}

.heading {
  padding: 1.5rem 0;
  font-size: 1.6rem;
}

.pokemon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.highlight {
  font-style: italic;
  font-size: 1.1rem;
}
