.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.messages {
  overflow-y: scroll;
  border: 1px solid black;
  margin: 0.2rem 0;
  flex-grow: 1;
}

.message {
}

.title {
}

.form {
}

.input {
}

.send {
}
