@use "/styles/breakpoints.scss" as b;
@use "/styles/mixins.scss" as m;
$shadow-color: gray;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: b.$xsm;
  height: 100vh;
  font-size: 1.1rem;
  box-shadow: 0 0 0.4rem 0 $shadow-color;

  @media only screen and (min-width: b.$xsm) {
    margin: 0 auto;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.4rem;
  overflow-y: scroll;
  background: linear-gradient(#cbcadd, #e4ded4);

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.title-container {
  padding: 0.6rem 0;
  color: white;
  line-height: 1;
  text-align: center;
  background: var(--telekilogram-primary-color);
}

.title {
  font-weight: 600;
}

.members {
  @include m.small-text;
}

.form {
  display: flex;
  background-color: white;
  box-shadow: 0 0 0.2rem 0 $shadow-color;
}

.input {
  flex-grow: 1;
  padding: 0.8rem 1.2rem;
  border: none;
  outline: none;
}

.send {
  margin-right: 1.2rem;
  color: transparent;
  background: center / contain no-repeat url("/images/paper-plane.png");

  &:hover {
    filter: drop-shadow(0 0 0.2rem var(--telekilogram-primary-color));
  }

  &:active {
    transform: scale(90%);
  }
}
