@use "../../../pages/exercises/BigQuiz/mixins.scss" as m;
@use "../../../pages/exercises/BigQuiz/variables.scss" as v;

.container {
  @include m.container;
}

.button {
  @include m.button;
  display: block;
  margin: 2rem auto;
}

.input-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.input {
  @include m.rounded-lg;
  display: block;
  max-width: 6rem;
  padding: 0.2rem 0.5rem;
  border: none;

  &:focus {
    outline-color: v.$highlight-color;
  }
}
