.form {
  display: flex;
  gap: 0.4rem;
  align-items: baseline;
  font-size: 1.2rem;
}

.input {
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.error {
  color: red;
  height: 1em;
  text-align: center;
}
