:root {
  --pokemon-app-primary-color: #1f2937;
  --pokemon-app-secondary-color: white;
  --telekilogram-primary-color: #6088ad;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-weight: normal;
  font-size: inherit;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}
